<a href="https://colab.research.google.com/github/mohammad-mussab/level1/blob/main/session_4_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [ ]:
# Write code here
list1 = ["M", "na", "i", "Kh","a"]
list2 = ["y", "me", "s", "an"]
list3 = list(zip(list1,list2))
if len(list1) > len(list2):
  list3.append(list1[-1])
elif len(list2) > len(list1):
  list3.append(list2[-1])

print(list3)

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an'), 'a']

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(6000,7000)

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [ ]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
candy_no_item = list(zip(candy_list, no_of_items))
for candy,no in candy_no_item:
  print(f"{candy}-{no}")

# print((candy_no_item))

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [ ]:
# Write code here
list1 = [1, 2, 3, 4, 5, 6]
running_list = []
cumalitive_sum = 0
for num in list1:
  cumalitive_sum += num
  running_list.append(cumalitive_sum)

print(running_list)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [ ]:
# Write code here
list1 = [2,4,6,10,1]
result = []
for i in list1:
  sum = 0
  for k in list1:
    if k>i:
      sum += k
  sum = sum + i
  result.append(sum)
  sum = None
print(result)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
num3 = []
for x in num1:
  if x in num2:
    num3.append(x)
print(sorted(num3))

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
# Write code here
from functools import reduce
import re

def product_of_numeric_chars(s):
    # Find all numeric characters in the string
    numeric_chars = re.findall(r'\d', s)

    # If there are no numeric characters, return 1
    if not numeric_chars:
        return 1

    # Convert numeric characters to integers
    numeric_values = list(map(int, numeric_chars))

    # Calculate the product of the numeric values
    product = reduce(lambda x, y: x * y, numeric_values)

    return product

# Given list of alphanumeric strings
list1 = ['1ac21', '23fg', '456', '098d', '1', 'kls']

# Sort the list based on the product value of numeric characters
sorted_list = sorted(list1, key=product_of_numeric_chars, reverse=True)

# Print the sorted list
print(sorted_list)

['456', '23fg', '1ac21', '1', 'kls', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [1]:
# Write code here
string_list = ['CampusX is a channel', 'for data-science', 'aspirants.']
result = []
for i in string_list:
  result.extend((i.split(' ')))
print(result)
# print(' '.join(result))

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [13]:
# Write code here
input = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
result = [j for i in input for j in i + [' ']]
print("".join(result))
# result = []
# for i in input:
#   for j in i:
#     result.append(j)
#   result.append(" ")
# print("".join(result))

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [28]:
# Code here
input = ['campusxIs', 'bestFor', 'dataScientist']
result = []
for string in input:
  new_string = ""
  for char in string:
    if char.isupper():
      new_string += " " + char
    else:
      new_string += char
  result.append(new_string)
print(result)

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [30]:
# Write code here
list1 = [1,2,3,4,5,1]
list2 = [2,3,5,7,8]
print(list1+list2)

[1, 2, 3, 4, 5, 1, 2, 3, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [32]:
# Write code here
lst1 = [[1,2,3],[4,5,6],[7,8,9]]
result = []
for x in lst1:
  result.append(max(x))
print(result)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [36]:
# Write code here
matrix = [[i * 3 + j for j in range(3)] for i in range(3)]
print(matrix)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [34]:
# Write code here
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Transpose the matrix using list comprehension
transposed_matrix = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]

print(transposed_matrix)  # Output: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# Write code here
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Flatten the matrix using list comprehension
flattened_list = [element for sublist in matrix for element in sublist]

print(flattened_list)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]