<a href="https://colab.research.google.com/github/mohammad-mussab/level1/blob/main/session_5_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
def merge_tuples(test_list):

    merged_dict = {}


    for t in test_list:

        first_elem = t[0]

        rest_elems = t[1:]


        if first_elem in merged_dict:
            merged_dict[first_elem].extend(rest_elems)
        else:

            merged_dict[first_elem] = list(rest_elems)


    result = []
    for key, value in merged_dict.items():
        result.append((key, *value))

    return result


test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
output = merge_tuples(test_list)
print(output)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [30]:
# write your code here
def multiply_adjacent_sum(tuple_input):
    result = []
    n = len(tuple_input)

    for i in range(n):
        if i == 0:

            result.append(tuple_input[i] * tuple_input[i+1])
        elif i == n - 1:

            result.append(tuple_input[i-1] * tuple_input[i])
        else:

            result.append(tuple_input[i-1] * tuple_input[i] + tuple_input[i] * tuple_input[i+1])

    return tuple(result)


original_tuple = (1, 5, 7, 8, 10)
result_tuple = multiply_adjacent_sum(original_tuple)
print(result_tuple)

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [31]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)
if t1==t2:
  print("t1 and t2 are same")
else:
  print("t1 and t2 are not same")

t1 and t2 are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [32]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
types = []
for data_type in list1:
  typ = type(data_type)
  types.append(typ)
print(f"List-{types.count(list)}\nSet-{types.count(set)}\nTuples-{types.count(tuple)}")

List-2
Set-2
Tuples-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here
def shortlist_students():

    num_records = int(input("Enter No of records: "))


    students = []


    for i in range(1, num_records + 1):
        print(f"Enter Details of student-{i}")
        name = input("Enter Student name: ")
        education = input("Enter Higher Education: ")
        skill = input("Enter Primary Skill: ")
        graduation_year = input("Enter Year of Graduation: ")


        student_tuple = (name, education, skill, graduation_year)
        students.append(student_tuple)


    print("\nEnter Job Role Requirement")
    required_skill = input("Enter Skill: ")
    required_education = input("Enter Higher Education: ")
    required_graduation_year = input("Enter Year of Graduation: ")


    found_candidate = False


    for student in students:
        name, education, skill, graduation_year = student


        if (skill.lower() == required_skill.lower() and
            education.lower() == required_education.lower() and
            graduation_year == required_graduation_year):


            print(student)
            found_candidate = True

    if not found_candidate:
        print("No such candidate")

shortlist_students()

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [33]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

common = set(ar1) & set(ar2) & set(ar3)
output = list(common)
print(output)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
unique_vowels = set()
vowels = ['a', 'e' , 'i' , 'o' , 'u' , 'A' , 'E' , 'I' , 'O' , 'U']
for char in Str1:
  if char in vowels:
    unique_vowels.add(char)
print(f"No of unique vowels-{len(unique_vowels)}")

No of unique vowels-6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# write your code here
string = input("Enter your input.")
unique_elements = set(string)
if (len(unique_elements)==2):
  print("Yes")
else:
  print("No")

Enter your input.2121212121212121212
Yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here
arrays = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
semi_final_result = set()
for array in arrays:
  semi_final_result.update(array)
final_result = sorted(semi_final_result)
print(final_result)

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
[x for x in lst1 if x in lst2]

[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [15]:
# write your code here
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
# for x in test_dict.keys():
#   print(x)
dic = {}
for key,value in test_dict.items():
  length = len(set(value))
  dic[key] = length

max_value = max(dic.values())

for key,value in dic.items():
  if max_value == value:
    print(key)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

words = test_str.split(" ")


for i in range(len(words)):
  if words[i] in repl_dict:
    words[i] = repl_dict[words[i]]


print(' '.join(words))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [20]:
# write your code here
test_list = ["CampusX", 10]
key_list = ["name", "id"]
output = (zip(key_list, test_list))
print(dict(output))

{'name': 'CampusX', 'id': 10}

In [21]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
output = (zip(key_list, test_list))
print(dict(output))

{'name': 'DataScience', 'id': 3}

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [25]:
# write your code here
lst_of_tples = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

dic = {}
for x,y in lst_of_tples:
  dic[x] = [y]
print(dic)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [29]:
# write your code here

def sort_dict_keys_values(input_dict):

    sorted_dict = {}


    for key in sorted(input_dict.keys()):

        sorted_dict[key] = sorted(input_dict[key])

    return sorted_dict


input_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}


output_dict = sort_dict_keys_values(input_dict)
print(output_dict)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}