<a href="https://colab.research.google.com/github/mohammad-mussab/level1/blob/main/session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
lst = [1,2,3,3,3,3,4,5]

def unique_elem(lst):
  unique_elem = set(lst)
  return list(unique_elem)

unique_elem(lst)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
def sort_words(hyphen_sep_words):
  splitted_words = hyphen_sep_words.split("-")
  sorted_words = sorted(splitted_words)
  result = "-".join(sorted_words)
  return result

hyphen_sep_words = "green-red-yellow-black-white"
sort_words(hyphen_sep_words)

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
def count_upper_lower(user_input):
  # upper_count = user_input.count()
  upper_count = 0
  lower_count = 0
  for char in user_input:
    if char.isupper():
      upper_count += 1
    elif char.islower():
      lower_count += 1
  return upper_count, lower_count

user_input = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
upper_count, lower_count = count_upper_lower(user_input)
print(f"No. of Upper case characters : {upper_count}\nNo. of Lower case Characters : {lower_count}")

No. of Upper case characters : 9
No. of Lower case Characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
user_input = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_check = lambda x: x % 2 == 0
print(list(filter(even_check, user_input)))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here
def perfect_number(num):
  if num <= 0:
    print("Please enter a positive integer.")
    return
  divisors = []

  for i in range(1,num):
    if num % i == 0:
        divisors.append(i)


  sum_of_divisors = sum(divisors)

  if sum_of_divisors == num :
    print("This is a perfect number.")
  else:
    print("This is not perfect number.")
num = 6
perfect_number(num)

This is a perfect number.

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here
def concatenate_dict(*kwargs):
  """Fucntion for concatenatinng dictionaries"""
  concatenated_dict = {}
  for dic in kwargs:
    for key,value in dic.items():
      concatenated_dict[key] = value
  return concatenated_dict
concatenate_dict({1:10, 2:20},{3:30, 4:40},{5:50,6:60})

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
print(concatenate_dict.__doc__)

Fucntion for concatenatinng dictionaries

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here
def most_occur_word(user_input):
  words = user_input.split(" ")
  words_count_list = []
  for word in words:
    counted_words = words.count(word)
    words_count_list.append(counted_words)

  number = max(words_count_list)
  number_index = words_count_list.index(number)
  most_occur_word = words[number_index]
  return most_occur_word

user_input = "hello how are you i am fine thank you"
output = most_occur_word(user_input)
print(output)

you

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
def print_histogram(numbers):

    bins = {}

    for number in numbers:
        bin_start = (number // 10) * 10 + 1
        bin_end = bin_start + 9
        bin_key = f"{bin_start}-{bin_end}"


        if bin_key not in bins:
            bins[bin_key] = 0


        bins[bin_key] += 1

    print("{", end="")
    print(", ".join([f"{key}:{value}" for key, value in sorted(bins.items())]), end="")
    print("}")


numbers = [13, 42, 15, 37, 22, 39, 41, 50]
print_histogram(numbers)

{11-20:2, 21-30:1, 31-40:2, 41-50:2, 51-60:1}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [1]:
# Write code here
def find_closest_coordinate(coordinate,query_point):
  min_dis = float("inf")
  closest_coordinate = None

  for coordinate in coordinates:
    squared_distance = (coordinate[0]-query_point[0])**2 + (coordinate[1] - query_point[1])
    if squared_distance < min_dis :
      min_dis = squared_distance
      closest_coordinate = coordinate
  return closest_coordinate

coordinates = [(1,1), (2,2), (3,3), (4,4)]

query_point = (0,0)


closest = find_closest_coordinate(coordinates, query_point)


print(f"Nearest to {query_point} is {closest}")

Nearest to (0, 0) is (1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [29]:
# Write code here
def bag_of_words(string):
  vocabulary = set()
  splitted_words = string.split(" ")
  vocabulary.update(splitted_words)
  word_counts = []
  word_count = dict.fromkeys(vocabulary, 0)
  for word in splitted_words:
    word_count[word] += 1
  word_counts.append(word_count)
  return vocabulary, word_counts


string = 'John likes to watch movies. Mary likes movies too.'
vocabulary, word_counts = bag_of_words(string)
bag_of_words(string)
print("Vocabulary:", vocabulary)
print("Word Counts:")
for count in word_counts:
    print(count)

Vocabulary: {'movies', 'Mary', 'watch', 'John', 'too.', 'to', 'likes', 'movies.'}
Word Counts:
{'movies': 1, 'Mary': 1, 'watch': 1, 'John': 1, 'too.': 1, 'to': 1, 'likes': 2, 'movies.': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [5]:
# Write code here
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list3 = [11,12,13,14,15]

def add_lists(list1,list2,list3):
  add_lists = list(map(lambda x, y, z: x + y + z, list1, list2, list3))
  return add_lists
result = add_lists(list1, list2, list3)
print(result)

[18, 21, 24, 27, 30]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [8]:
# Write code here
def index_power(list1):
  powered_index_list = list(map(lambda x,i : x**i , list1 , range(len(list1))))
  return powered_index_list
list1 = [1,2,3,4,5,6]
index_power(list1)

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [12]:
# Write code here
def filter_vowels(input_string):
  vowels = set('aeiou')
  filtered_vowels = filter(lambda char : char.lower() in vowels , input_string)
  result = list(filtered_vowels)

  return result
input_string = "Hello World, Programming in Python!"
output = filter_vowels(input_string)
print(output)

['e', 'o', 'o', 'o', 'a', 'i', 'i', 'o']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [14]:
# Write code here
from functools import reduce
import operator

def flattened_list(list2D):
  list1D = reduce(operator.add, list2D)
  return list1D

list2D = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list(list2D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [9]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [10]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']